<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Assignment 1</title>
</head>
<body>
    <h1>{{heading}}</h1>
    <form method="POST" action="/add">
    <h3>{{heading3}}</h3>
    <input type="text" placeholder="John Doe" name="name" size = "40">
    <span style="margin: 5px;">+</span>
    <h3>{{heading4}}</h3>
    <input type="text" placeholder="604-XXX-XXX" name="contact">
    <p>{{heading5}}</p>
        {{#each topping}}
         <input type="checkbox" name="topping" id="topping"}> 
        {{label "name" {{topping}}}}
        {{/each}}
    <br>
    <input type="submit" name="submit" value="Submit">
    </form>   
    <br>
    

    
</body>
</html>